absl-py
astunparse
attrs
beautifulsoup4
blinker
cachetools
certifi
charset-normalizer
click
contourpy
cycler
decorator
deepface
filelock
fire
Flask
flatbuffers
fonttools
gast
gdown
gitdb
GitPython
google-auth
google-auth-oauthlib
google-pasta
grpcio
gunicorn
h5py
idna
importlib-metadata
iniconfig
itsdangerous
Jinja2
jsonschema
jsonschema-specifications
keras
kiwisolver
libclang
Markdown
markdown-it-py
MarkupSafe
matplotlib
mdurl
mtcnn
numpy
oauthlib
opencv-python
opt-einsum
packaging
pandas
Pillow
pluggy
prettytable
protobuf
pyarrow
pyasn1
pyasn1-modules
pydeck
pyecharts
Pygments
Pympler
pyparsing
PySocks
pytest
python-dateutil
pytz
pytz-deprecation-shim
referencing
requests
requests-oauthlib
retina-face
rich
rpds-py
rsa
simplejson
six
smmap
soupsieve
streamlit
streamlit-echarts
tenacity
tensorboard
tensorflow-estimator
https://github.com/better/alpine-tensorflow/releases/download/alpine3.7-tensorflow1.7.0/tensorflow-1.7.0-cp36-cp36m-linux_x86_64.whl
termcolor
toml
toolz
tornado
tqdm
typing_extensions
tzdata
tzlocal
urllib3
validators
wcwidth
Werkzeug
wrapt
zipp
